/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*
---------------------------------------------------------------------------------
MY CODE
*/
a {
    color: #000;
    text-decoration: none;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}
/*
---------------------------------------------------------------------------------
header.php
*/
header {
    width: 100%;
    height: 80px;
    background-color: #4b969d;
}

header img {
    margin-top: 15px;
    width: 65px;
    height: 55px;
    float: left;
}

header nav {
    overflow: hidden;
}

header nav ul {
    margin-top: 20px
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
    list-style: none;
}

header nav ul li a {
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
}

header nav ul form {
    padding-left: 20px;
}

header nav ul form input {
    border: none;
    height: 15px;
    width: 160px;
    margin: 1px 0px;
    padding: 2px 5px;
}

header nav ul form button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}
/*
header.php end
---------------------------------------------------------------------------------
index.php
*/
.video-box {
    width: 100%;
    height: 315px;
    background-color: #222;
    text-align: center;
}

.index-intro {
    width: 100%;
    padding: 20px 0px; 
}

.index-intro h2 {
    font-weight: 700;
    font-family: Lato;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase; 
    color: #000;
}

.index-intro p {
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    margin: 20px;
    color: #000;
}

.index-news {
    width: 100%;
    padding: 20px 0px;
    background-color: #CCC;
    overflow: hidden;
}

.index-news article {
    width: 18%;
    float: left;
    margin: 0px 1%;
}

.index-news article:hover .news-img  {
    background-image: url(http://placehold.it/173x120/ffb366);
}

.index-news h3 {
    font-weight: 400;
    font-family: Lato;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    color: #000; 
}

.index-news p {
    font-weight: 400;
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
    color: #000; 
}

.index-twi {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

.index-twi h3 {
    font-weight: 700;
    font-family: Lato;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase; 
    color: #000;
}

.news-img {
    width: 100%;
    height: 120px;
    background-color: #FFF;
    background-image: url(http://placehold.it/173x120/999999);
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}
/*
index.php end
---------------------------------------------------------------------------------
gallery.php
*/
.gallery-box {
    overflow: hidden;
    padding: 70px 0px 80px 0px;
}

.gallery-box h2 {
    font-weight: 700;
    font-family: Lato;
    font-size: 24px;
    padding-bottom: 10px;
    color: #000;
}

.img-single {
    width: 176px;
    height: 176px;
    margin: 5px 5px;
    float: left;
    position: relative;
}

.img-single:hover {
    z-index: 1000;
}

.img-single img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.img-single img:hover {
    width: 140%;
    height: 140%;
    position: absolute;
    top: -20%;
    left: -20%; 
}
/*
gallery.php end
---------------------------------------------------------------------------------
blog.php
*/
.blog form  {
    
}

.blog form textarea {
    width: 400px;
    height: 80px;
    background-color: #fff;
    resize: none;
    font-family: lato;
}

.blog form button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}
/*
blog.php end
---------------------------------------------------------------------------------
signup.php
*/

.signup {
    width: 100%;
    height: 315px;
    padding: 20px 0px;
    background-color: #CCC;
}

.signup h2 {
    margin-left: 85px;
    font-weight: 700;
    font-family: lato;
    font-size: 24px;
}

.signup form {
    margin-left: 85px;
}

.signup form input {
    border: none;
    height: 15px;
    width: 160px;
    margin: 1px 0px;
    padding: 2px 5px;
}

.signup form button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

/*
signup.php end
---------------------------------------------------------------------------------
footer.php
*/
footer nav {
    float: left;
}

footer nav ul {

}

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

footer nav ul li a {
    font-family: Lato;
    font-weight: 700;
    font-size: 10px;
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #222;
    padding: 20px 0px 80px 0px;
}
/*
footer.php end
---------------------------------------------------------------------------------
*/